<p id="notice"><%= notice %></p>

<h1>Доступные файлы</h1>

<table>
  <thead>
    <tr>
      <th>Название файла</th>
      <th>Тип</th>
      <th>Размерт в битах</th>
      <% if params[:action] == "all_files" %>
        <th>ФИО владельца</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_files.each do |user_file| %>
      <tr>
        <td><%= user_file.file_name %></td>
        <td><%= user_file.file_type %></td>
        <td><%= user_file.file_size %> </td>
        <% if params[:action] == "all_files" %>
          <td><%= user_file.user.fio %> </td>
        <% end %>
        <td><%= link_to 'Просомтерть файл', user_file %></td>
        <td><%= link_to 'Удалить файл', user_file, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% unless params[:action] == "all_files" %>
  <%= link_to 'Добавить файл', new_user_file_path %>
<% end %>
